In [4]:
import pandas as pd
products=pd.read_csv("products.csv")
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [7]:
products[products['product_name']=='Seabreeze Salad']

       product_id     product_name  aisle_id  department_id
20269       20270  Seabreeze Salad         6              2